<p>ecran-principal works!</p>
<div class="flex-column">
    <div class="flex-row-align">
        <button mat-button [matMenuTriggerFor]="unlocks" class="bouton-non-clique">Unlocks</button>
        <mat-menu #unlocks="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="cashUpgrades" class="bouton-non-clique">Cash Upgrades</button>
        <mat-menu #cashUpgrades="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="angelUpdates" class="bouton-non-clique">Angel Upgrades</button>
        <mat-menu #angelUpdates="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="managers" class="bouton-non-clique">Managers</button>
        <mat-menu #managers="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="investors" class="bouton-non-clique">Investors</button>
        <mat-menu #investors="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
    </div>
    <div class="zone-produit">
        <button class="bouton-non-clique" (click)="changerMulitplicateurAchat()">achat par {{multiplicateurAchat}}</button>
        <div>
            <app-product [image]="'ble.png'" [cout]=" this.listeMarchandise[0].prix" [quantite]=" this.listeMarchandise[0].quantite" [quantiteAchat]="this.multiplicateurAchat"></app-product>
            <app-product [image]="'cuir.png'" [cout]=" this.listeMarchandise[1].prix" [quantite]=" this.listeMarchandise[1].quantite" [quantiteAchat]="this.multiplicateurAchat"></app-product>
            <app-product [image]="'iron.png'" [cout]=" this.listeMarchandise[2].prix" [quantite]=" this.listeMarchandise[2].quantite" [quantiteAchat]="this.multiplicateurAchat"></app-product>    
        </div>
        <div>
            <app-product [image]="'or.png'" [cout]=" this.listeMarchandise[3].prix" [quantite]=" this.listeMarchandise[3].quantite" [quantiteAchat]="this.multiplicateurAchat"></app-product>
            <app-product [image]="'diamant.png'" [cout]=" this.listeMarchandise[4].prix" [quantite]=" this.listeMarchandise[4].quantite" [quantiteAchat]="this.multiplicateurAchat"></app-product>
            <app-product [image]="'perle-ender.png'" [cout]=" this.listeMarchandise[5].prix" [quantite]=" this.listeMarchandise[5].quantite" [quantiteAchat]="this.multiplicateurAchat"></app-product>
        </div>
    </div>
</div>

