<div class="flex-row product">
    <img class="product-logo" src="http://localhost:8080/{{product.logo}}" (click)="startFabrication()">
    <p class="minecraft-font">{{product.quantite}}</p>
    <div class="flex-column">
        <div class="flex-1">
            <mat-progress-bar class="progressbar"></mat-progress-bar>
        </div>
        <div class="flex-1">
            <button *ngIf="'coutCalcule<emeraude'" class="achat" (click)="transaction()">
                <div class="flex-row flex-1">
                    <img class="emeraude" src="http://localhost:8080/emeraude.png">
                    <p style="margin: auto;">{{coutCalcule}}</p>
                    &nbsp;
                    <p>x{{quantiteAchat}}</p>
                </div>
            </button>
            <!-- <input class="timer" type="text"> -->
        </div>
    </div>
</div>