<div class="flex-row product">
    <img class="product-logo" src="http://localhost:8080/{{product.logo}}" (click)="startFabrication()">
    <p class="minecraft-font" style="position: absolute;">{{product.quantite}}</p>
    <div class="flex-column">
        <div class="flex-1">
            <mat-progress-bar [value]="progressbarvalue" class="progressbar"></mat-progress-bar>
        </div>
        <div class="flex-1">
            <button class="achat" (click)="transaction()" [disabled]="etatBouton">
                <div class="flex-row flex-1">
                    <span *ngIf="etatBouton ; then emeraudeBarree else emeraude"></span>
                    <ng-template #emeraude>
                        <img class="emeraude" src="http://localhost:8080/emeraude.png">
                    </ng-template>
                    <ng-template #emeraudeBarree>
                        <img class="emeraude" src="http://localhost:8080/emeraudeBarree.png">
                    </ng-template>
                    <p style="margin: auto;" [innerHTML]="coutCalcule | bigvalue"></p>
                    &nbsp;
                    <p>x{{quantiteAchat}}</p>
                </div>
            </button>
            <!-- <input class="timer" type="text"> -->
        </div>
    </div>
</div>
