<div class="header">
  <div *ngIf="world">
    <span id="worldname">{{world.name}}<img [attr.src]="server+world.logo" style="width: 50px;" /></span>
  </div>
  <div *ngIf="world">
    <span [innerHTML]="world.money | bigvalue" class="bouton-non-clique"></span>
  </div>
  <div> multiplicateur </div>
  <div>ID du joueur</div>
</div>
<div class="flex-column">
  <div class="flex-row-align">
    <button mat-button [matMenuTriggerFor]="unlocks" class="bouton-non-clique">Unlocks</button>
    <mat-menu #unlocks="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="cashUpgrades" class="bouton-non-clique">Cash Upgrades</button>
    <mat-menu #cashUpgrades="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="angelUpdates" class="bouton-non-clique">Angel Upgrades</button>
    <mat-menu #angelUpdates="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="managers" class="bouton-non-clique">Managers</button>
    <mat-menu #managers="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="investors" class="bouton-non-clique">Investors</button>
    <mat-menu #investors="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </div>
  <div class="zone-produit" *ngIf="world">
    <button class="bouton-non-clique" (click)="changerMulitplicateurAchat()">achat par {{qtmulti}}</button>
    <div>
      <app-product [prod]="world.products.product[0]" [qtmulti]="qtmulti" [money]="world.money" (notifyProduction)="onProductionDone($event)" (onBuy)="onBuyDone($event)"></app-product>
      <app-product [prod]="world.products.product[1]" [qtmulti]="qtmulti" [money]="world.money" (notifyProduction)="onProductionDone($event)" (onBuy)="onBuyDone($event)"></app-product>
      <app-product [prod]="world.products.product[2]" [qtmulti]="qtmulti" [money]="world.money" (notifyProduction)="onProductionDone($event)" (onBuy)="onBuyDone($event)"></app-product>
    </div>
    <div>
      <app-product [prod]="world.products.product[3]" [qtmulti]="qtmulti" [money]="world.money" (notifyProduction)="onProductionDone($event)" (onBuy)="onBuyDone($event)"></app-product>
      <app-product [prod]="world.products.product[4]" [qtmulti]="qtmulti" [money]="world.money" (notifyProduction)="onProductionDone($event)" (onBuy)="onBuyDone($event)"></app-product>
      <app-product [prod]="world.products.product[5]" [qtmulti]="qtmulti" [money]="world.money" (notifyProduction)="onProductionDone($event)" (onBuy)="onBuyDone($event)"></app-product>
    </div>
  </div>
</div>



<!-- <router-outlet></router-outlet> -->